<article class="post-entry" data-tags="HTML, JavaScript, CSS">
    <a href="/pages/articles/contact_form_article.html" class="entry-cover">
        <img src="/assets/images/reCAPTCHA.png" alt="RAW TECH Logo">
    </a>
    <div class="entry-body">
        <header class="entry-header">
            <h2><a href="/pages/articles/contact_form_article.html">reCAPTCHA & Contact Form</a></h2>
        </header>
        <div class="entry-content">
            <p>Implementation of contact form and reCAPTCHA on website</p>
        </div>
        <footer class="entry-footer">
            <span class="entry-meta">March 10, 2025 • 5 min read</span>
            <div class="tags">
                <span class="tag" data-tag="HTML">HTML</span>
                <span class="tag" data-tag="JavaScript">JavaScript</span>
                <span class="tag" data-tag="CSS">CSS</span>
            </div>
        </footer>
    </div>
</article>