<article class="post-entry" data-tags="AI, Python, API, Film">
    <a href="/pages/articles/film_affinity_article.html" class="entry-cover">
        <img src="/assets/images/Letterboxd.png" alt="Chatgpt">

    </a>

    <div class="entry-body">
        <header class="entry-header">
            <h2><a href="/pages/articles/film_affinity_article.html">Film Affinity </a></h2>
        </header>
        <div class="entry-content">
            <p>Building a Film Critique Generator using Python and Chatgpt</p>
        </div>
        <footer class="entry-footer">
            <span class="entry-meta">March 14, 2025 • 9 min read</span>
            <div class="tags">
                <span class="tag" data-tag="Python">Python</span>
                <span class="tag" data-tag="AI">AI</span>
                <span class="tag" data-tag="API">API</span>
                <span class="tag" data-tag="Film">Film</span>


            </div>
        </footer>
    </div>
</article>

