<article class="post-entry" data-tags="Landscape, Photography">
    <a href="/pages/articles/landscapes_article.html" class="entry-cover">
        <img src="/assets/images/landscapes/Hangzhou, China.jpg" alt="Photography">
    </a>
    <div class="entry-body">
        <header class="entry-header">
            <h2><a href="/pages/articles/landscapes_article.html">Landscape Photography</a></h2>
        </header>
        <div class="entry-content">
            <p>My favourite landscapes</p>
        </div>
        <footer class="entry-footer">
            <span class="entry-meta">March 27, 2025 • 5 min read</span>
            <div class="tags">
                <span class="tag" data-tag="Landscape">Landscape</span>
                <span class="tag" data-tag="Photography">Photography</span>



            </div>
        </footer>
    </div>
</article>