<article class="post-entry" data-tags="HTML, JavaScript, Web">
    <a href="/pages/articles/quotes_article.html" class="entry-cover">
        <img src="/assets/images/quotes.png" alt="RAW TECH Logo">
    </a>
    <div class="entry-body">
        <header class="entry-header">
            <h2><a href="/pages/articles/quotes_article.html">Dynamic Quotes Page </a></h2>
        </header>
        <div class="entry-content">
            <p>Building a Dynamic Quotes Page with JavaScript</p>
        </div>
        <footer class="entry-footer">
            <span class="entry-meta">March 13, 2025 • 5 min read</span>
            <div class="tags">
                <span class="tag" data-tag="HTML">HTML</span>
                <span class="tag" data-tag="JavaScript">JavaScript</span>
                <span class="tag" data-tag="Web">Web</span>
            </div>
        </footer>
    </div>
</article>