<link rel="stylesheet" href="/assets/css/contact.css">

<form id="contact-form">
  <h2>Contact Us</h2>
  <input type="text" id="user_name" name="user_name" placeholder="Your Name" required />
  <input type="email" id="user_email" name="user_email" placeholder="Your Email" required />
  <textarea id="message" name="message" placeholder="Your Message" required></textarea>

  <div class="g-recaptcha" data-sitekey="6LfAKvAqAAAAAAF4DCtmoBf_3Pv0yc9_geygvNkk"></div>

  <button type="submit">Send Message</button>
  <div id="form-status"></div>
</form>
