<footer>
    <div class="social-badges">
        <a href="https://www.linkedin.com/in/ryan-witts-72993a181/" target="_blank" aria-label="LinkedIn">
            <img src="/assets/images/linkedin.png" alt="LinkedIn" class="social-icon">
        </a>
        <a href="https://github.com/Kame-Ry" target="_blank" aria-label="GitHub">
            <img src="/assets/images/github.png" alt="GitHub" class="social-icon">
        </a>
    </div>

    <div class="trademark-container">
        <div class="SG_Trademark">
            <a href="https://raw-tech.co.uk" target="_blank" aria-label="RAW-TECH">
                <img src="/assets/images/SG_Trademark.png" alt="SG Trademark">
            </a>
        </div>
        <div class="RT_Trademark">
            <a href="https://raw-tech.co.uk" target="_blank" aria-label="RAW-TECH">
                <img src="/assets/images/RT_Trademark.png" alt="RT Trademark">
            </a>
        </div>
    </div>

    <p class="quote">"Everything changes and nothing remains still;" - Heraclitus</p>
</footer>
