<footer>
    <div class="social-badges">
        <a href="https://www.linkedin.com/in/ryan-witts-72993a181/" target="_blank" aria-label="LinkedIn">
            <img src="/assets/images/linkedin.png" alt="LinkedIn" class="social-icon">
        </a>
        <a href="https://github.com/Kame-Ry" target="_blank" aria-label="GitHub">
            <img src="/assets/images/github.png" alt="GitHub" class="social-icon">
        </a>
    </div>

    <p class="quote">"Everything changes and nothing remains still;" - Heraclitus</p>
</footer>
