<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>RAW-TECH</title>
<meta name="description" content="tech, projects, and insights">
<meta name="keywords" content="technology, coding, projects, IT, RAW-TECH">

<link rel="stylesheet" href="/assets/css/header.css">
<link rel="stylesheet" href="/assets/css/footer.css">
<link rel="stylesheet" href="/assets/css/nav.css">
<link rel="stylesheet" href="/assets/css/icons.css">
<link rel="stylesheet" href="/assets/css/main.css">
<link rel="stylesheet" href="/assets/css/hero.css">


<link rel="icon" href="/assets/images/Icon.png" type="image/png">