<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>RAW-TECH</title>
<meta name="description" content="tech, projects, and insights">
<meta name="keywords" content="technology, coding, projects, IT, RAW-TECH">

<link rel="icon" type="image/x-icon" href="/assets/images/favicon.ico">
<link rel="icon" type="image/png" href="/assets/images/favicon.png">

<link rel="stylesheet" href="/assets/css/header.css">
<link rel="stylesheet" href="/assets/css/footer.css">
<link rel="stylesheet" href="/assets/css/icons.css">
<link rel="stylesheet" href="/assets/css/main.css">