<article class="post-entry">
    <a href="/pages/seaglass-post.html" class="entry-cover">
        <img src="/assets/images/SG-Post.png" alt="Post Image">
    </a>
    <div class="entry-body">
        <header class="entry-header">
            <h2><a href="/pages/seaglass-post.html">Coming Soon!</a></h2>
        </header>
        <div class="entry-content">
            <p>Coming Soon!.</p>
        </div>
        <footer class="entry-footer">
            <span class="entry-meta">Coming Soon!</span>
        </footer>
    </div>
</article>
