<article class="post-entry">
    <a href="/pages/seaglass-post.html" class="entry-cover">
        <img src="/assets/images/SG-Post.png" alt="Post Image">
    </a>
    <div class="entry-body">
        <header class="entry-header">
            <h2><a href="/pages/seaglass-post.html">Seaglass</a></h2>
        </header>
        <div class="entry-content">
            <p>Seaglass is a custom web-theme created by me.</p>
        </div>
        <footer class="entry-footer">
            <span class="entry-meta">March 11, 2025 • 5 min read</span>
        </footer>
    </div>
</article>
