body {
    font-family: Arial, sans-serif;
    background-color: #2E2E33;
    color: #ffffff;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}


.post-container {
    max-width: 800px;
    margin: auto;
    padding: 20px;
}

.post-header {
    text-align: center;
    margin-bottom: 30px;
}

.post-title {
    font-size: 40px;
    font-weight: bold;
    color: #ffffff;
}

.post-meta {
    font-size: 14px;
    color: #ffffff;
}

.post-image-container {
    text-align: center;
    margin: 20px 0;
}

.post-image {
    max-width: 100%;
    height: auto;
    display: block;
    border-radius: 8px;
}

.post-content {
    line-height: 1.8;
    font-size: 18px;
    color: #fdfdfd;
    text-align: justify;
}



.post-content h2 {
    font-size: 26px;
    margin-top: 30px;
    border-bottom: 2px solid #ffffff;
    padding-bottom: 5px;
}

.file-structure {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin: 20px 0;
    padding: 20px;
    background: #ffffff;
    border-radius: 8px;
}

.file-column {
    flex: 1;
    padding: 15px;
    background: #2E2E33;
    border-radius: 8px;
    box-shadow: 0px 2px 5px #0000001a;
}

.file-column ul {
    list-style: none;
    padding-left: 0;
}

.file-column ul ul {
    padding-left: px;
}

.file-column li {
    font-size: 16px;
    margin: 5px 0;
}

.desc {
  background: #2E2E33;
  color: #ffffff;
    font-size: 14px;
}

@media (max-width: 768px) {
    .file-structure {
        flex-direction: column;
    }
}

pre {
  background: #000000;
  color: #05ff05;
    padding: 15px;
    border-radius: 5px;
    overflow-x: auto;
    font-size: 14px;
}