#contact-form {
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#contact-form input,
#contact-form textarea {
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

#contact-form button {
    padding: 10px;
    background-color: #3498db;
    color: #fff;
    cursor: pointer;
    border: none;
    border-radius: 4px;
}

#contact-form button:hover {
    background-color: #2980b9;
}

#form-status {
    padding: 10px;
    font-weight: bold;
}
