footer {
    background: #123524;
    color: #fff;
    width: 100%;
    margin-top: auto;
    padding: 10px 2;
  }
  
  .footer-content {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px;
  }


  .social-badges {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
  }
  
  .social-icon {
    width: 40px;
    height: 40px;
    display: inline-block;
  }
  
  .quote {
    font-size: 0.95rem;
    color: #ccc;
    text-align: right;
    margin: 10px;
    line-height: 1.4;
  }