footer {
    padding: 10px;
    background: #000000;
    color: #fff;
    text-align: center;
    width: 100%;
    margin-top: auto;
    position: relative;
    max-width: 100vw;
    overflow: hidden;
}

.social-badges {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin-bottom: 5px;
}

.social-icon {
    width: 30px;
    height: 30px;
    display: inline-block;
}

.trademark-container {
    position: absolute;
    bottom: 5px;
    left: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
}

.SG_Trademark img,
.RT_Trademark img {
    width: 100px;
    height: auto;
    display: block;
}

.quote {
    font-size: 0.85rem;
    color: #aaa;
    text-align: right;
    position: absolute;
    bottom: 5px;
    right: 50px;
    margin: 0;
    padding: 0;
    white-space: nowrap;
}
