header {
    position: sticky;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    background: #1D1E20;
    border-bottom: 0px solid #1D1E20;
    z-index: 1000;
    box-sizing: border-box;
}

nav ul {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
}

nav ul li {
    margin: 0;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    padding: 5px 10px;
    font-size: 14px;
    white-space: nowrap;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #6e6e6e;
}
