/* Hero Section */
.hero {
    background: #ffffff;
    color: #000;
    padding: 100px 20px;
    text-align: center;
}

.hero h1 {
    font-size: 4em;
    margin: 0;
}

.hero p {
    font-size: 1.5em;
    margin: 10px 0;
}