.hero {
    background: #123524;
    color: #ffffff;
    padding: 100px 20px;
    text-align: center;
}

.hero h1 {
    font-size: 4rem;
    margin: 0 0 10px;
    font-weight: bold;
}

.hero p {
    font-size: 1.5em;
    margin: 10px 0;
}

