.logo img {
    height: 40px;
}

.social-links {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.social-links a {
    text-decoration: none;
    color: #ffffff;
    font-weight: 600;
    font-size: 1rem;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background 0.3s, color 0.3s;
}

.social-links a:hover {
    background: #f75a22;
    color: #fcfcfc;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background: #444;
    color: #fff;
    text-decoration: none;
    margin-top: 20px;
    border-radius: 5px;
    font-weight: 600;
    transition: background 0.3s, color 0.3s;
}

.btn:hover {
    background: #f75a22;
    color: #fcfcfc;
}
