body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    color: #000000;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    text-align: center;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

html, body {
    overflow-x: hidden;
    width: 100%;
}

.post-image {
    max-width: 80%;
    height: auto;
    display: block;
    margin: 20px auto;
    border-radius: 8px;
}

@media (max-width: 768px) {
    .post-image {
        max-width: 95%
    }
}