/* Quote Section */
.quote-section {
    background: rgb(247, 247, 247);
    color: #ffffff;
    padding: 30px;
    max-width: 600px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.quote-title {
    font-size: 1em;
    font-weight: bold;
    margin-bottom: 15px;
    color: #000;
}

blockquote {
    font-size: 1.5em;
    font-style: italic;
    color: #333;
}

.author {
    font-size: 1.2em;
    margin-top: 10px;
    color: #555;
}

.new-quote-btn {
    margin-top: 15px;
    padding: 10px 15px;
    border: none;
    background-color: #000;
    color: white;
    cursor: pointer;
    font-size: 1em;
    border-radius: 5px;
}